# Values read by software/deploy/riscq-rfsoc4x2-board.service.
RISCQ_PYTHON=/usr/local/share/pynq-venv/bin/python3
RISCQ_RFSOC4X2_BUNDLE=rfsoc4x2-nv-laser-1.0.0
RISCQ_RFSOC4X2_BIND=0.0.0.0
RISCQ_RFSOC4X2_PORT=9091
